/* Reset styles and fonts */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, label, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Typography */
body {
  font-family: "Open Sans", Arial, sans-serif;
}

/* App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #FAF7F7;
}

/* Logo */
.logo {
  width: 180px;
  height: auto;
  margin: 20px;
}

/* Form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form elements */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

label {
  font-weight: bold;
  color: #003859;
  margin-bottom: 2px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
}

input.error {
  border-color: #E4002B;
}

.error {
  color: #e4002b;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

button {
  font-family: inherit;
  font-size: 16px;
  background-color: #E4002B;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #000000;
}

/* Confirmation page */
.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #003859;
  font-size: 20px;
}
@media (max-width: 768px) {
  .form-container {
    width: 90%;
    padding: 30px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  .confirmation {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 150px;
    height: auto;
  }

  .form-container {
    padding: 20px;
  }

  input {
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }

  .confirmation {
    font-size: 16px;
  }
}
